<!DOCTYPE html>
<html lang="en" id="docs">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
</head>
<body>
    <h1>{{projectName}} <span>{{projectVersion}}</span></h1>
    {{>layout_content}}
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
</body>
</html>
